allow debuggerd gpu_device:chr_file { getattr open read };
allow debuggerd system_lib_camera_file:file { getattr open read };
allow debuggerd system_lib_media_file:file { getattr open read };
